.container {
	padding: 10px 0;
	background: #2B3034;
	display: table;
	position: relative;
}
.header {
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 20px;
}
.header.home {
	text-align: right;
}
.header.away > .abbr {
	margin-right: 5px;
}
.header.home > .score {
	margin-right: 5px;
}
.header > span {
	display: inline-block;
	vertical-align: top;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
}
.header.red span {
	color: #F35747;
}
.header.blue span {
	color: #18A0E6;
}

/*
*
* Shot tally styling
*
*/

.shot-tallies > .home,
.shot-tallies > .away {
	width: 80px; /* Width of 10 bullets */
	display: inline-block;
	vertical-align: top;
	margin: 0 20px;
	line-height: 0;
	min-height: 80px;
}
.shot-tallies > .home {
	float: right;
	text-align: right;
}
.shot-tallies .bullet {
	display: inline-block;
	vertical-align: top;
	height: 4px;
	width: 4px;
	margin: 4px 0 0 0;
	border-radius: 2px;
}
.shot-tallies .away .bullet {
	margin-right: 4px;
}
.shot-tallies .home .bullet {
	margin-left: 4px;
}
.shot-tallies .blue .bullet {
	background: #18A0E6;
}
.shot-tallies .red .bullet {
	background: #F35747;
}

/*
*
* Clock svg styling
*
*/

#clock {
	background: #222;
	width: 32px;
	height: 32px;
	position: absolute;
	left: calc(50% - 16px);
	top: 4px;
}

/*
*
* Rink svg styling
*
*/

line.barrier-goalie.blue,
line.barrier-skater.blue,
path.shot.blue {
	stroke: #18A0E6;
}
line.barrier-goalie.red,
line.barrier-skater.red,
path.shot.red {
	stroke: #F35747;
}
line.barrier-goalie,
line.barrier-skater {
	stroke-width: 1;
}
circle.shot.blue {
	stroke: #18A0E6;
	fill: #18A0E6;
	fill-opacity: 0.6;
	stroke-opacity: 0.85;
}
circle.shot.red {
	stroke: #F35747;
	fill: #F35747;
	fill-opacity: 0.6;
	stroke-opacity: 0.85;
}
path.net.red {
	stroke-width: 3px;
	stroke: #F35747;
	fill: none;
}
path.net.blue {
	stroke-width: 3px;
	stroke: #18A0E6;
	fill: none;
}
/*
*
* Shot path styling and animation
*
*/

path.shot {
	fill: none;
	stroke-dasharray: 260;
	stroke-dashoffset: 260;
}
path.shot.animated-dashoffset {
	animation: dash 2s ease-in forwards;
}
@keyframes dash {
	to {
		stroke-dashoffset: -260;
	}
}