svg {
	background: #263238;
}
.net.blue {
	fill: #1DE9B6;
}
.net.red {
	fill: #FF1744;
}
.barrier-goalie.blue,
.barrier-skater.blue,
.shot.blue {
	stroke: #1DE9B6;
}
.barrier-goalie.red,
.barrier-skater.red,
.shot.red {
	stroke: #FF1744;
}

/*
*
* Shot styling and animation
*
*/

.shot {
	fill: none;
	stroke-dasharray: 260;
	stroke-dashoffset: 260;
}
.shot.animated-dashoffset {
	animation: dash 2s linear forwards;
}
@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}