.net.blue {
	fill: blue;
}
.net.red {
	fill: red;
}
.barrier-goalie.blue {
	stroke: blue;
}
.barrier-goalie.red {
	stroke: red;
}
.barrier-skater.blue {
	stroke: blue;
}
.barrier-skater.red {
	stroke: red;
}